#header {
}
#header > div > div{
    margin-top: 5px;
}

#body {
    min-height: 200px;
}

#footer {
}

form {
    margin-top: 20px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}