html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px;
    background-color: #557810;
    color: white;
    font-style: italic;
}

#footer > div {
    margin-right: 30px;
}

form {
    margin: 20px 0 30px 0;
}

.create-owner {
    margin-top: 20px;
}

input.ng-invalid.ng-dirty {
    border: solid thin red;
}

.sortable {
    cursor: pointer;
}

.banner {
    background-color: #557810;
    min-height: 50px;
    line-height: 50px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    font-style: italic;
}

/* TODO: Generate Bootstrap theme. */
.navbar-default {
    background: none #557810 no-repeat;
}
.navbar-default .navbar-brand {
    color: #fff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #fff;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #fff;
}
.navbar-default .navbar-text {
    color: #9BD143;
    font-style: italic;
}