#header {
    background: url('../img/banner-graphic.png') no-repeat left center;
    min-height: 70px;
}

#body {
    min-height: 200px;
}

#footer {
    background: url('../img/springsource-logo.png') no-repeat left center;
    min-height: 10px;
}