<div ng-controller="vetList">
    <h2>Veterinarians</h2>

    <p class="text-danger" ng-show="listFailure">
        An error occurred processing your request. Please try again later.
    </p>

   <div>
       <form name="searchForm" class="form-horizontal" role="form">
           <div class="form-group">
               <label for="search" class="col-sm-2 control-label">Search: </label>
               <div class="col-sm-6">
                   <input type="text" class="form-control" id="search" placeholder="Search phrase" ng-model="searchTerm" ng-keydown="search(searchTerm)">
               </div>
           </div>
       </form>
   </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    <div ng-click="sortByName()">
                        Name <i class="fa fa-sort"></i>
                    </div>
                </th>
                <th>
                    <div ng-click="sortBySpecialty()">
                        Specialties <i class="fa fa-sort"></i>
                    </div>
                </th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="vet in vets | orderBy:sortOrder | filter:searchTerm">
                <td>{{vet.firstName}} {{vet.lastName}}</td>
                <td>
                    <div ng-repeat="specialty in vet.specialties">
                        {{specialty.name}}
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
